.whish-button {
  background: none;
  color: rgb(245, 243, 240);
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 40px;
  border: none;
  padding: 0;
  position: relative;
  margin-right: 10px;
}

.whish-state {
  background-color: red;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 1rem;
  color: aliceblue;
  font-size: 12px;
  font-weight: 700;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .whish-button {
    margin-right: 15px;
    margin-top: 31px;
  }
}

@media (min-width: 768px) and (max-width: 1014px) {
  .whish-button {
    margin-right: 20px;
    margin-top: 31px; 
  }

  .whish-state {
    width: 18px;
    height: 18px;
    left: 0.9rem;
    font-size: 11px;
  }
}

@media (min-width: 1014px) and (max-width: 2000px) {
  .whish-button {
    font-size: 1.2rem;
    margin-right: 20px;
    margin-top: 31px; 
  }

  .whish-state {
    width: 18px;
    height: 18px;
    left: 0.9rem;
    font-size: 11px;
  }
}