.footer-container{
    color: white;
    background-color: #197482 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 150px;
    bottom: 0;
    z-index: 1;
}
.footer-elements{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 text-align: center;
 font-size: 12px;
 
 align-items: center;
 width: 100vw;
 
}
.footer-title{
    font-size: 14px;
}

.footer-elements > div {
    width: 30%;
}

.last-content-footer{
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin: 0;
  
}
 a{
    color: white;
    text-decoration: none,
}
a:hover{
    transition: color 0.3s;
}
@media (max-width: 768px){
    .footer-container{
        width: 100vw;
        height: 100px;
        bottom: 0;
        z-index: 1;
    }
    .footer-elements{
     font-size: 9px;
     width: 100vw;
     margin-top: 5px;
    }
    
    .last-content-footer{
       text-align: center;
       margin-top: 7px;
       font-size: 9px;
       
    }
}
@media (min-width: 610px){
    .footer-container{
        width: 100vw;
        height: 130px;
       
    }
}

@media (min-width: 1040px){
    .footer-container{
        width: 100vw;
        height: 110px;
        bottom: 0;
        z-index: 1;
    }
    .footer-elements{
     font-size: 11px;
     width: 100vw;
     margin-top: 7px;
    }
    
    .last-content-footer{
       text-align: center;
       margin-top: 9px;
       font-size: 10px;
       
    }
    
    .footer-elements > div {
        width: 25%;
    }
    
}