@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap');

/*.total {
  background-color: #088da1;
}*/

#root {
  min-width: 100%;
  height: 100vh;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
 
}

* {
  margin: 0;
  padding: 0;
}

.container-app {
  height: 100vh;
  min-width: 100vw;
}



/*------MAPA HOME-------*/

.icon-map{
  width: 100px; 
}
.title-mapa{
  margin-top: 28%;
  font-size: 15px;
  font-family: "Fjalla One", serif;
  letter-spacing: 2px;
}
.choose-house{
  font-size: 15px;
  font-family: "Fjalla One", serif;
  letter-spacing: 2px;
}
.icon-map:hover{
  width: 105px;
}

@media (min-width: 400px){
  .title-mapa{
    margin-top: 35%;  
  }
}
@media (min-width: 580px){
  .title-mapa{
    margin-top: 160%; 
    width:130px ;
    margin-left: 30px;
  }
  .choose-house{
    width:140px ;
    margin-left: 30px;
    margin-top: 150%; 
  }
  .icon-map{
    width: 100px;
  }
  .container-mapa-home{
    display: flex;
    justify-content: space-evenly;

  }
}
  @media (min-width: 680px){
    .title-mapa{
      margin-top: 200%; 
    }
    .choose-house{
      width:185px ;
      
    }
  }
    @media (min-width: 790px){
      .title-mapa{
        margin-top: 245%; 
      }
      .choose-house{
        width:230px ;       
      }
}
@media (min-width: 920px){
  .title-mapa{
    margin-top: 275%; 
  }
  .choose-house{
    width:265px ;       
  }
}
@media (min-width: 1320px){
  .title-mapa{
    margin-top: 290%; 
    font-size: 25px;
    width: 150px
  }
  .choose-house{
    width:310px ;  
    font-size: 25px;
         
  }
}
@media (min-width: 1450px){
  .title-mapa{
    margin-top: 350%; 
    width: 150px
  }
  .choose-house{
    width:390px ; 
         
  }
  .icon-map{
    width: 130px; 
  }
}
@media (min-width: 1690px){
  .title-mapa{
    margin-top: 335%; 
    width: 180px;
  }
  .choose-house{
    width:435px ; 
    
         
  }
  
}
@media (min-width: 1810px){
  .title-mapa{
    margin-top: 390%; 
    width: 180px
  }
  .choose-house{
    width:515px ; 
         
  }
  
}



/*------VIDEO-------*/

.video-container {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: auto; 
  overflow: hidden;
  opacity: 0.9;
  box-shadow: 1px 10px 20px rgb(129, 127, 127);
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-home{
  position: relative;
  z-index: 1; 
  text-align: center;
  color: rgba(252, 251, 251, 0.635);
  text-shadow: 2px 1px 10px #000000;
  letter-spacing: 2px;
  margin-top: 60px; 
  animation: fadeInUp 3.5s ease-in-out;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

  
}

@media (min-width: 1040px){
  .video-container {
    position: absolute;
    top: 8rem;
   
    width: 100%;
    height: auto; 
    overflow: hidden;
    opacity: 0.9;
    z-index: 0; 
    box-shadow: 1px 10px 10px 20px rgb(129, 127, 127);
    margin: auto;
  }
  
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .title-home{
    position: relative;
    z-index: 1; 
    text-align: center;
    color: rgba(252, 251, 251, 0.564);
    text-shadow: 2px 1px 10px #000000;
    letter-spacing: 2px;
    margin-top: 15rem; 
    font-size: 3.5rem;
    animation: fadeInUp 3.5s ease-in-out;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
}


/*Navbar*/

.navbar-container {
display:flex;
justify-content: space-between;
align-items: center;
padding: 5px;
background: url("./images/ventana.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.9;
z-index: 1;
}

.logo1 {
  width: 120px;
  height: auto;
  text-align: left;
  margin-top: 20px;
}

.navbar-container-icons {
  display:flex;
  gap: 4px;
}


.icon-vivienda {
  color: rgb(245, 243, 240);
  width: 30px;
height: 20px;
  cursor: pointer;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .navbar-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: url("./images/ventana.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
    }
    
    .logo1 {
      width: 120px;
      height: auto;
      text-align: left;
      margin-top: 20px;
    }
    
    .navbar-container-icons {
      display:flex;
      gap: 4px;
    }
    
    
    .icon-vivienda {
      color: rgb(245, 243, 240);
      font-size: 20px;
      cursor: pointer;
      
    }
    
}

@media (min-width: 1024px) {
  .navbar-container {
    display:flex;
    flex-direction: row;
    opacity: 0.9;
    z-index: -1;
    width: 100%;
    
    
    }
    .navbar-container-icons {
      display:flex;
      flex-direction: row;
      
    }
    
    .logo1 {
      width: 150px;

    }
    
    .icon-vivienda {
      width: 30px;
      height: auto;
      cursor: pointer;
      margin-top: 4.5rem;
     margin-right: 2rem;
    }
}

/*-----only mobiles page -----*/
.search-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .search-mobile {
    display: inline-block;
  }
}

.search-desktop {
  display: block;
}
@media only screen and (max-width: 768px) {
  .search-desktop {
    display: none;
  }
}

/*viviendas*/
.title-viviendas {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 10px;
  font-size: 35px;
  color: #088da1;
  font-weight: lighter;
  font-family: "Fjalla One", serif;
  letter-spacing: 2px;
  text-shadow: 2px 1px 10px  #555858;
  z-index: 1;
  position: relative;
  animation: fadeIn 3s ease-in-out;
}
.description-vivienda {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
  font-size: 18px;
  color: #1A6D7A;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 2px 1px 10px #021c2069;
  position: relative;
  text-decoration: none!important;
}
.description-price{
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
.vivienda-link {
  text-decoration: none; 
  color: inherit;
}
.viviendas-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.vivienda-card {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
}
.vivienda-image {
  width: 100%;
  margin-top: 40px;
}
.whish-button-green {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  margin: 12px 15px;
  color: #074d57;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  background-color:  #a5a2a7;
  font-size: 1.5rem;
  cursor: pointer;
}
.vivienda-card:hover {
  box-shadow: 0 2px 10px  rgba(0, 0, 0, 0.5);
}

.vivienda-card:hover .whish-button-green {
  display: flex;
}

.whish-button-green {
  color: grey;
}

.whish-button-green.active {
  color: red;
}

.button-back-viviendas{
  background: linear-gradient(90deg, #055461, #2b2b2c);
  border: none;
  border-radius: 5px;
  font-weight: lighter;
  font-style: italic;
  color: white;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 246, 255, 0.6), 0 0 10px rgba(0, 71, 255, 0.4);
  position: relative;
  overflow: hidden;
  min-width: 80px;
  text-align: center;
  margin-bottom: 15px;
}
/*small*/
@media (max-width: 768px) {
  .whish-button-green {
    position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  margin: 10px 10px;
  color: #074d57;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 60px;
  background-color:  #a5a2a7;
  font-size: 1.1rem;
  }
  .vivienda-card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }
  .vivienda-image {
    width: 80%;
  }
}
/*big*/
@media (min-width: 1024px) {
  .title-viviendas {
    padding: 20px;
    font-size: 50px;
  }
  .viviendas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px;
  }
  .vivienda-image {
    width: 90%;
    max-width: 500px;
    height: auto;
  }
  .vivienda-card {
    width: 100%;
    max-width: 500px;
  }
  .description-vivienda {
    padding: 20px;
    font-size: 25px;
  }
}



/*---------wishlist------*/
.wishlist-title {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 10px;
  font-size: 28px;
  color: #1A6D7A;
  font-weight: lighter;
  font-family: "Fjalla One", serif;
  letter-spacing: 2px;
  text-shadow: 4px 1px 20px  #088da1bf;
  z-index: 1;
  position: relative;
  margin-top: 20px;
  margin-right: 10px;
}

.icon-delete-wish {
  color: #088da1;
  font-size: 4rem;
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.icon-wish {
  color: #088da1;
  font-size: 2rem;
  background: none;
  border: none;
  animation: rotar 3s linear infinite;
}

@keyframes rotar {
  from {
    transform: (0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wish-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.wish-card {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 2px 10px  rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}



.wish-image {
  width: 80%;
  margin-top: 20px;
  margin: auto;
  margin-top: 20px;
}

.wish-title {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  color: #1A6D7A;
  font-weight: lighter;
  font-style: italic;
  text-shadow: 2px 1px 10px  #088da1;
  z-index: 1;
  position: relative;
}

.wish-description{
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-style: italic;
  z-index: 1;
  position: relative;
}

.wish-price {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

/*big*/
@media (min-width: 1024px) {
  .wish-container{
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .wish-image {
    width: 90%;
    max-width: 500px;
    height: auto;
  }
  .wish-card{
    width: 100%;
    max-width: 500px;
  }
}

/*------ search mobile page -------*/
/*small*/
@media (max-width: 768px){
.search-container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  overflow: hidden;
}
.search-container::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./images/background-search-mobile.avif') center center no-repeat;
  background-size: cover;
  opacity: 0.4; 
  z-index: 0; 
  pointer-events: none;
}

.search-title {
  font-size: 30px;
  color: #196D7A;
  font-weight: lighter;
  font-family: "Fjalla One", serif;
  letter-spacing: 2px;
  text-shadow: 2px 1px 10px  #088da1;
  margin-top: 20px;
}
.search-title-icon {
  margin-bottom: 5px;
  margin-left: 5px;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.search-label{
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 1.1rem;
  color: rgb(5, 5, 5);
  font-weight: lighter;
  font-style: italic;
  text-shadow: 2px 1px 10px  #088da1;
  padding-right: 10px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  
}

.search-input{
  background-color: rgba(255, 255, 255, 0.854);
  cursor: pointer;
  color: rgb(0, 0, 0); 
  border: none; 
  border-radius: 20px;
  padding: 10px 30px;
  
  border: 1px solid #e4e5e6;
  box-shadow: 0 2px 20px  rgba(7, 161, 172, 0.5);
  text-align: center;
}

.search-select{
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-style: italic;
  text-shadow: 2px 1px 10px  #088da1;
  padding-right: 10px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color:#fbfbff;
  box-shadow: 0 2px 20px  rgba(7, 161, 172, 0.5);
  border: 2px solid black;
}

.search-option{
font-size: 10px;
}

.button-search{
  
  background: linear-gradient(90deg, #055461, #2b2b2c);
  border: none;
  border-radius: 5px;
  font-weight: lighter;
  font-style: italic;
  color: white;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 246, 255, 0.6), 0 0 10px rgba(0, 71, 255, 0.4);
  position: relative;
  overflow: hidden;
  min-width: 200px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-title,
.search-form,
.search-label, 
.search-input{
  position: relative;
}
}
@media (min-width: 768px){
  .search-container{
    padding: 1.5em 2.5rem; 
    padding: 35px;
    opacity: 0.7;
    z-index: -1;
  }
  .search-title{
    font-size: 20px;
  }
  .search-label{
    font-size: 12px;
  }
  .search-input{
    font-size: 14px;
  }
  .button-search{
    margin-top: 6px
  }
}
@media (min-width: 124px){
  .search-title{
    font-size: 25px;
  }
  .search-label{
    font-size: 17px;
  }
  .search-container{
    padding: 1.5em 2.5rem; 
    padding: 40px;
    
    margin-top:15px;
  }
  .search-input{
    font-size: 14px;
    width: 100%;
  }
  .button-search{
    margin-top: 10px
  }
}

/*-------Validating-----*/
.Validating-user{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}